streamlit
ckiptagger
wordcloud
requests
beautifulsoup4
python-dateutil
transformers
torch
pandas
numpy
matplotlib
scikit-learn
statsmodels
fbprophet  # Prophet 使用
tensorflow  # LSTM 使用
